<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2>Member detail</h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="#">Page</a><i class="icon-angle-right"></i></li>
          <li class="active">Member detail</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="span8">
        <article>
          <div class="">
            <div class="post-heading">
              <h1> <strong style="margin-right: 20px">{{' '+this.member.nom.toUpperCase()}}</strong>{{this.member.prenom.toLowerCase()}}</h1>
            </div>
            <!-- start flexslider -->
            <div >
              <ul >
                <li>
                  <img src="../../../assets/flatten/img/works/full/image-01-full.jpg" alt="" />
                </li>
              </ul>
            </div>
            <!-- end flexslider -->
          </div>
          <p>
            Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius
            ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
          </p>
        </article>
      </div>
      <div class="span4">
        <aside class="right-sidebar">
          <div class="widget">
            <h5 class="widgetheading">Project information</h5>
            <ul class="folio-detail">
              <li><label>Email :</label> {{this.member.email}}</li>
              <li><label>Born :</label>  {{this.member.dateNaissance}}</li>
              <li><label>Lab :</label>  {{this.member.laboratoire.nom}}</li>
            </ul>
          </div>
          <div class="widget">
            <h5 class="widgetheading">Description</h5>
            <p>
              Lorem ipsum dolor sit amet, unum suscipiantur te cum, vide magna ea eam. At eos wisi tractatos temporibus. Ne has omnis harum. Ei mea graece delenit nominati. Ut dolore albucius torquatos vel, choro gubergren no mel.
            </p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
