<div id="wrapper">
<div class="hidden-top">
  <div class="hidden-top-inner container">
    <div class="row">
      <div class="span12">
        <ul>
          <li> <i class="font-icon-email_2"></i><strong> Email: </strong>webmaster@enis.tn</li>
          <li> <i class="icon-home"></i><strong>Adress:</strong> Route de la Soukra km 4 - 3038 sfax</li>
          <li> <i class="icon-phone"></i><strong>Call us:</strong> (216) 456-7890 - (123) 555-7891</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- start header -->
<header>
  <div class="container ">
    <!-- hidden top area toggle link -->
    <div id="header-hidden-link">
      <a class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Open</a>
    </div>
    <!-- end toggle link -->
    <div class="row nomargin">
      <div class="span12">
        <div class="headnav">
          <ul>
            <li><a *ngIf="!loginService.isLoggedin()" routerLink="/login" data-toggle="modal"><i class="icon-user"></i> Sign in</a></li>
            <li><a *ngIf="loginService.isLoggedin()" routerLink="/user/profile" data-toggle="modal"><i class="icon-user"></i> {{loginService.getUserInfo().email}}</a></li>
            <li><a *ngIf="loginService.isLoggedin()" routerLink="/" (click)="loginService.LogOut()" data-toggle="modal"><i class="icon-user"></i> Log Out</a></li>

          </ul>
        </div>
        <!-- Signup Modal -->
        <div id="mySignup" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="mySignupModalLabel">Create an <strong>account</strong></h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="" class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input type="text" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputSignupPassword">Password</label>
                <div class="controls">
                  <input type="password" id="inputSignupPassword" placeholder="Password">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputSignupPassword2">Confirm Password</label>
                <div class="controls">
                  <input type="password" id="inputSignupPassword2" placeholder="Password">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Sign up</button>
                </div>
                <p class="aligncenter margintop20">
                  Already have an account? <a href="#mySignin" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Sign in</a>
                </p>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="logo">
          <a routerLink="/"><img src="../../../assets/flatten/img/logo.png" alt="" class="logo" /></a>
          <h1>Reaserch Laboratory</h1>
        </div>
      </div>
      <div class="span8">
        <div class="navbar navbar-static-top">
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li class="active">
                  <a routerLink="/">Home </a>

                </li>
                <li>
                  <a routerLink="publications/">Publications</a>
                </li>
                <li>
                  <a routerLink="events/">Events </a>
                </li>
                <li>
                  <a routerLink="about/">About US</a>
                </li>
                <li>
                  <a routerLink="contact/">Contact </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end navigation -->
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->

</div>

